<html>
	<body>
		<a href={% url 'logout' %}>Logout</a>
        <a href={% url 'addtweet' %}>Add tweet</a>
        <a href={% url 'viewtweet' user %}>View tweet</a>
        <a href={% url 'profile' user %}>Profile</a>
        <a href={% url 'connect' %}>Connect to other users</a>
        <h1>Welcome {{ user }}</h1>
        <h2>Notifications</h2>
        {% if notification_list %}
            <ul>
                {% for notification in notification_list %}
                    <li>User <a href={% url 'viewtweet' notification.user2 %}>{{ notification.user2 }}</a> added a tweet related to you.</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No notifications available.</p>
        {% endif %}
	</body>
</html>